@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root {
  --font-size-sm: clamp(
    11px,
    calc(18px + (18 - 11) * ((100vw - 390px) / (1440 - 390))),
    18px
  );
  --font-size-lg: clamp(
    24px,
    calc(24px + (36 - 24) * ((100vw - 390px) / (1440 - 390))),
    36px
  );
  --font-size-lc: clamp(
    15px,
    calc(15px + (20 - 15) * ((100vw - 390px) / (1440 - 390))),
    20px
  );

  /* color */
  --color-background: #E4CABC;
  --color-secondary: #a383ff;
  --color-text: #FFFFFF;
  --color-main: #8BD3DD;
  --color-stroke: #001858;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  background-color:  var(--color-background);
  color: var(--color-text);
  padding-inline: 15px;
}